h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  margin: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
/*ШАПКА*/
.header.container {
  display: flex;
  align-items: center;
}
.novigation-list {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.novigation-list .novigation-item + .novigation-item {
  margin-left: 60px;
}
.novigation-list .navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-link {
  display: flex;
}
.contact-link .contact-inf + .contact-inf {
  margin-left: 50px;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
.navigation-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.active {
  color: #2196f3;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
.mail-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.mail.link:focus {
  color: #2196f3;
}
/*ГЕРОЙ*/
.hero {
  background: #2f303a;
}
.hero {
  text-align: center;
}
.hero-title {
  width: 696px;
  height: 120px;
  padding: 280px 452px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  padding: 10px 32px;
  min-width: 136px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/*ГЛАВНЫЕ ИДЕИ*/
.idea-list {
  display: flex;
  align-items: center;
}
.idea-list-item {
  flex-basis: calc(100% / 4-30px);
}
.idea-list .idea-list-item + .idea-list-item {
  margin-left: 30px;
}
.idea {
  padding-top: 47px;
  padding-bottom: 47px;
}
.idea-list-title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.idea-list-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/*чЕМ МЫ ЗАНИМАЕМСЯ*/
.emp-list .emp-list-item + .emp-list-item {
  margin-left: 30px;
}
.emp-list {
  display: flex;
}
.employ {
  padding-top: 47px;
  padding-bottom: 47px;
}
.emp-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*кОМАНДА*/

.team-list {
  display: flex;
}
.team-list .team-list-item + .team-list-item {
  padding-left: 30px;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team-list-img {
  margin-bottom: 30px;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.title-name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/*ПОДВАЛ*/
.logotype {
  margin-bottom: 20px;
}
.footer {
  background: #2f303a;
}
.address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-web-stodio {
  color: #ffffff;
}

/*PORTFOLIO*/
.hiden {
  display: none;
}
.active {
  color: #2196f3;
}
.novigation-button-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}
.novigation-button-link:hover,
.novigation-button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.img-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.img-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
